{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Managment System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=3">
</head>
<body>
  <div class="container">
    <h1>Student List </h1>
    <table>
        <thead>
            <tr>
                <th>Admission Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Course Taken</th>
                <th>Enrollment Date</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.admission_number }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.course_taken }}</td>
                <td>{{ student.enrollment_date }}</td>
                <td>{{ student.date_of_birth }}</td>
                <td>{{ student.gender }}</td>
                <td class = "edit_delete">

                    <button class="editbutton">
                        <a href="{% url 'student_managment_system:edit' student.id %}" class="editbutton">Edit</a>
                    </button>
                    <form method="post" action="{% url 'student_managment_system:delete' student.id %}" style="display:inline" onsubmit="return confirm('Delete {{ student.first_name }} {{ student.last_name }}?');">
                    {% csrf_token %}
                        <button type="submit" class="buttonsecondary">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button  class="button">
        <a href="{% url 'student_managment_system:add' %}" class = "button">Add a student</a>
    </button>
</div>
</body>
</html>